
# LASI2022

## Multiple Linear Regression

## 0. Load Libraries

In [1]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

## 1. Load and Verify Data

In [2]:
df = pd.read_csv("data/academicperformance.csv")
df.head()

   GPA  Income  Sleep  Time  Grade
0  2.9   82461    6.5    47     77
1  3.7   61113    6.2    47     94
2  2.8   63632    6.2    39     69
3  2.0   66854    7.2    49     81
4  2.8   82721    5.5    49     78

In [5]:
X = df[['GPA','Sleep','Time']]
y = df['Grade']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=0)

## 2. Fit Model

In [7]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [8]:
model.coef_

array([9.01844164, 7.15753978, 1.07642309])

In [9]:
y_pred = model.predict(X_test)

In [10]:
r2_score(y_test,y_pred)

0.8850697700754747

## 3. Make Predictions

In [11]:
data = {'GPA':[3,3,3,2,3,4,2.5,2.5,2.5],
        'Sleep':[5,6,7,6,6,6,5,5,5],
        'Time':[30,30,30,30,30,30,40,50,60]}
df_predict = pd.DataFrame(data)

In [14]:
df_predict['Grade'] = model.predict(df_predict).round(1)

In [15]:
df_predict

   GPA  Sleep  Time  Grade
0  3.0      5    30   55.2
1  3.0      6    30   62.4
2  3.0      7    30   69.6
3  2.0      6    30   53.4
4  3.0      6    30   62.4
5  4.0      6    30   71.4
6  2.5      5    40   61.5
7  2.5      5    50   72.3
8  2.5      5    60   83.0